<h3>Add Food Item</h3>
<form (ngSubmit)="onSubmit(f2)" #f2="ngForm" ngNativeValidate > 
<div class="form-group">
    <label>Id:</label>
    <input class="form-control"
    name = "id"
    disabled
    [(ngModel)]= "rs.FoodItem.Id"
    type="text"
    placeholder="Unique Id">

    <label>Value:</label>
    <input class="form-control"
    type="text"
    name = "value"
    required
    placeholder="Description"
    [(ngModel)]="rs.FoodItem.value"
    (focusout)="rs.ValidateFoodDescription(rs.FoodItem.value)"
    #value="ngModel">
    <span class="help-block" *ngIf="!value.valid && value.touched">Please enter a description</span>
    <span class="help-block" *ngIf="!value.valid ">{{rs.messaage}}</span>

    <label>Serving Quantity:</label>
    <input class="form-control"
    type="number"
    name ="cant"
    placeholder="Serving Quantity"
    [(ngModel)]="rs.FoodItem.cant">

    <div class="form-group">
    <label>Units:</label>
    <select 
    name="units"
    [(ngModel)] = "rs.FoodItem.unidad">
       <option *ngFor="let item of rs.Units"  [selected]="item.Id == rs.FoodItem.unidad"  [value]="item.Id">{{item.value}}</option> 
    </select> 
   </div>

    <div class="form-group">
    <label>Brand:</label>
    <select 
    name="brand"
    (focusout)="getBrandImage()"
    [(ngModel)] = "rs.FoodItem.brand">
       <option *ngFor="let item of rs.BrandItems"  [selected]="item.id == rs.FoodItem.brand"  [value]="item.id">{{item.description}}</option> 
    </select> 
    <button type="button" class="btn primary" (click)=addBrand()>Add Brand</button>
    <img [src]="brandImage" class="img-responsive" style="max-height: 40px;">
   </div>

   <div class="form-group">
    <label>Image url:</label>
    <input class="form-control"
    type="text"
    name = "image"
    placeholder="Image url"
    [(ngModel)]="rs.FoodItem.image">

    <img [src]="rs.FoodItem.image" class="img-responsive" style="max-height: 40px;">
   </div>

    <label>Sugar:</label>
    <input class="form-control"
    type="number"
    name = "sugar"
    placeholder="Sugar"
    [(ngModel)]="rs.FoodItem.sugar">

    <label>FAT:</label>
    <input class="form-control"
    type="number"
    name = "fat"
    placeholder="FAT"
    [(ngModel)]="rs.FoodItem.fat">


    <label>Sodium:</label>
    <input class="form-control"
    type="number"
    name = "sodium"
    placeholder="Sodium"
    [(ngModel)]="rs.FoodItem.sodium">

    <label>Calories:</label>
    <input class="form-control"
    type="number"
    name = "calories"
    placeholder="Calories"
    [(ngModel)]="rs.FoodItem.calories">

    <label>Proteins:</label>
    <input class="form-control"
    type="number"
    name = "prot"
    placeholder="Proteins"
    [(ngModel)]="rs.FoodItem.prot">



</div>

<div class="footer">
   <strong>
  <p>{{rs.message}}</p>
</strong>   
</div>

<button 
class="btn btn-primary" 
[disabled]="!f2.valid"
type="submit">Submit</button>

<button type="reset" class="btn-danger">Clear</button>
</form>   
