<h1>Cesar's Records</h1>
<div style="background-color:black; color:white" class="d-flex justify-content-start">
        <button type="button" class="btn btn-success" >Multi Input
        </button>
        <button type="button" class="btn btn-dark" onclick=initRegistrar()>Nuevo
        </button>
        <button type="button" class="btn btn-dark" onclick="saveRecord()">Guardar
        </button>
        <button type="button" class="btn btn-dark" onclick="viewData()">Data
        </button>
     </div>