<p>food-record works!</p>
 <!--
    <div class="row">
        Cantidad:
        <input type="number" placeholder="Cantidad" id="Cantidad" value="{{cant}}">
</div>
<div class="row">
        Unidad:
        <select id="unidad" name="unidad"
            [(ngModel)]="unidad" class="form-control">
           <option *ngFor="let item of items" [value]="item.Id">{{item.value}}</option> 
        </select>
    </div>
    <div class="row">
        <input type="text" placeholder="Detalle" id="Detalle" 
            value="{{desc}}" >
        </div>
    </div>
            -->