<i class="fa fa-bars" style="font-size:36px" (click)="menu.toggle($event)"></i>
<i class="fa fa-file-o" style="font-size:36px" (click)="this.router.navigate(['/Nuevo'])"></i>
<i class="fa fa-glass" style="font-size:36px" (click)="this.router.navigate(['/Filter'])"></i>
<i class="fa fa-tags" style="font-size:36px"></i>
<i class="fa fa-list-alt" style="font-size:36px"></i>
<i class="fa fa-save"  (click)="this.router.navigate(['/Data'])" style="font-size:36px"></i>
<i class="fa fa-cog" style="font-size:36px"></i>
<p-slideMenu #menu [model]="items" [popup]="true" [viewportHeight]="250"></p-slideMenu>


<!--<h3 class="container">Cesar Records</h3>-->

<!--
<nav class="navbar navbar-default">
<div class="container">
    <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">CR</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a routerLinkActive="active" routerLink="/">Nuevo</a></li>
            <li><a routerLinkActive="active" routerLink="/Data">Data</a></li>
            <li><a routerLinkActive="active" routerLink="/Filter">Filter</a></li>
            <li><a routerLinkActive="active" routerLink="/FoodItems">Food Items</a></li>
            <li><a routerLinkActive="active" routerLink="/DrugItems">Drug Items</a></li>
            <li><a routerLinkActive="active" routerLink="/Settings">Settings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"></li>
            <a class="dropdown-toggle" role="button">Manejar</a>
            <span class="caret"></span>
            <ul class="dropdown-menu">
                <li><a href="#">Save</a></li>
                <li><a href="#">Retreieve</a></li>
            </ul>
        </ul>
    </div>
</div>
</nav>

-->