<form (ngSubmit)="onSubmit(f2)" #f2="ngForm">

            <div class="form-group">
            <input class="form-control input-lg"
            type="number" 
            placeholder="Distance" 
            ngModel
            name = "distance"
            min="500"
            max="4000"
            required
            #distance="ngModel"><span class="help-block" *ngIf="!distance.valid && distance.touched">Please enter Distance</span>
            </div>

        <div class="form-group">
        <input 
            type="number" 
            placeholder="HH" 
            ngModel
            name = "hh"
            min="0"
            max="4"
            #hh="ngModel">


        <input 
            type="number" 
            placeholder="MM" 
            ngModel
            name = mm
            min="0"
            max="59">
    
        <input 
            type="number" 
            placeholder="SS" 
            ngModel
            name = "ss"
            min="0"
            max="59">

        </div>
        
        <div class= "form-group">
        <input class="form-control input-lg"
        type="number" 
        placeholder="Calories" 
        ngModel
        name = "calories"
        min="0"
        max="2000"
        required
        #calories="ngModel"><span class="help-block" *ngIf="!calories.valid && calories.touched">Please enter Calory count</span>
        </div>
    <button 
class="btn btn-primary" 
[disabled]="!f2.valid"
type="submit">Submit</button>
    
</form>
